<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
  <title>Mapserver UI</title>
  <link rel="stylesheet" href="css/style.min.css" type="text/css">
  <script data-dev="true" src="js/ol.js" type="text/javascript"></script>
  <script data-dev="true" src="js/vue.js" type="text/javascript"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="six columns" id="input">
        <input type="text" class="u-full-width" placeholder="Enter wms host ..." v-model="wmsHost">
        <button v-on:click="addWMSHost">add host</button>
        <button v-on:click="clearLocalStorage">Clear Host List</button>
      </div>
      <div class="six columns" id="host">
        <div class="host" v-for="host in hosts">
          {{ host.url }} <button v-on:click="deleteServerItem">delete</button>
          <a href="{{ host.url }}"></a>
        </div>
      </div>
      <div class="twelve columns">
        <div id="map_canvas" class="map_canvas"></div>
      </div>
    </div>
  </div>
  <script data-dev="true" src="js/main.js" type="text/javascript"></script>
  <script src="js/main.min.js" type="text/javascript"></script>
</body>
</html>
