hr {
  margin-bottom: 5px;
  margin-top: 10px;
}

pre code {
  max-height: calc(100vh - 50px);
  overflow: scroll;
}

.map {
  button.osm-layer {
    background: rgba(0, 60, 136, .5);
    color: rgba(255, 255, 255, .8);
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0px;
    padding: 1px 8px;
  }
}

#map_canvas {
  min-height: 1px;
  height: 400px;
}

#url {
  width: 100%;
}

#input {
  label.status {
    color: lightseagreen;
  }
}

.loading {
  display: none;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eee;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #222;
  .close {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 0px 5px;
    ;
    background: #fff;
    border: 1px solid #222;
    border-radius: 5px;
    cursor: pointer;
  }
}

.layer {
  margin-top: 5px;
  .top {
    vertical-align: text-top;
  }
}

/**
 * Utility helper class
 */
.text-center {
  text-align: center;
}

// #input #url
@media (min-width: 650px) {
  #url {
    width: calc(100% - 120px);
  }
}
